<!DOCTYPE html>
<html>
<head>
    <title>Spline</title>
    <link href="~/Content/css/chart.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/knockout-2.2.1.js"></script>
    <script src="~/Scripts/globalize.min.js"></script>
    <script src="~/Scripts/dx.chartjs.js"></script>
</head>
<header>
    <nav class="top-bar top-bar-padding">
        <section class="top-bar-section">
            <ul class="title-area">
                <li class="name">
                    <h1>@Html.ActionLink("Separately", "Index", "Separately")</h1>
                </li>
                <li class="name">
                    <h1>@Html.ActionLink("Comparison", "Index", "Comparison")</h1>
                </li>
            </ul>
        </section>
    </nav>
    <div id="workForm"></div>
    <div id="background" class="background-dark"></div>
</header>
<body>
    @RenderBody()
</body>
</html>
