<script type="text/javascript">
    var dataSource = [];
    var series = [];

    $(function () {        
        getFunction(pushOriginalFunction, 'GetOriginalFunction', '#chartOriginalFunction');
        getFunction(pushFFT, 'GetFFT', '#chartFFT');
        getFunction(pushFFTPhase, 'GetAmplitudeFFT', '#chartFFTPhase');
        getFunction(pushDFT, 'GetDFT', '#chartDFT');
    });

    function drawCharts(title, chartId) {
        $(chartId).dxChart({            
            dataSource: dataSource,
            commonSeriesSettings: {
                type: "spline",
                argumentField: "x"
            },
            commonAxisSettings: {
                grid: {
                    visible: true
                }
            },
            series: series,
            tooltip: {
                enabled: true
            },
            legend: {
                verticalAlignment: "bottom",
                horizontalAlignment: "center"
            },
            title: title,
            commonPaneSettings: {
                border: {
                    visible: true,
                    bottom: false
                }
            }
        });
    }

    function pushOriginalFunction(data) {
        clearData();
        for (var i = 0; i < data.X.length; i++) {
            dataSource.push({ x: data.X[i], original: data.Y[i] });
        }
        series.push({ valueField: 'original', name: 'sin(3x) + cos(x)' });
    }    

    function pushFFT(data) {
        clearData();        
        for (var i = 0; i < data.X.length; i++) {
            dataSource.push({ x: data.X[i], FFT: data.Y[i] });
        }
        series.push({ valueField: 'FFT', name: 'FFT' });
    }

    function pushFFTPhase(data) {
        clearData();
        console.log(data);
        for (var i = 0; i < data.X.length - 1; i++) {
            dataSource.push({ x: data.X[i], FFTPhase: data.Y[i] });
        }
        series.push({ valueField: 'FFTPhase', name: 'Phase Spectrum FFT' });
    }

    function pushDFT(data) {
        clearData();
        for (var i = 0; i < data.X.length; i++) {
            dataSource.push({ x: data.X[i], DFT: data.Y[i] });
        }
        series.push({ valueField: 'DFT', name: 'DFT' });
    }

    function getFunction(callback, viewName, chartId) {
        $.ajax({
            url: "/Home/" + viewName,
            type: "POST",
            dataType: "json",
            success: function (data) {
                callback(data);
                drawCharts('Title', chartId);                
            }
        });
    }

    function clearData() {
        dataSource = [];
        series = [];
    }

</script>
<div class="content">
    <div class="pane">
        <div class="long-title">
            <h3></h3>
        </div>
        <div id="chartOriginalFunction" style="width: 100%; height: 440px;"></div>        
    </div>
    <div class="pane">
        <div class="long-title">
            <h3></h3>
        </div>
        <div id="chartFFT" style="width: 100%; height: 440px;"></div>        
    </div>
    <div class="pane">
        <div class="long-title">
            <h3></h3>
        </div>
        <div id="chartFFTPhase" style="width: 100%; height: 440px;"></div>        
    </div>
    <div class="pane">
        <div class="long-title">
            <h3></h3>
        </div>
        <div id="chartDFT" style="width: 100%; height: 440px;"></div>        
    </div>    
</div>