@model UI.Models.Chart
<script type="text/javascript">
    $(function () {
        get(X, '#chartContainer', 'sin(3x) + cos(x)', 'GetOriginalFunction');
    });

    function X(data, chartId, title) {
        var dataSource = [];
        for (var i = 0; i < data.X.length; i++) {
            dataSource.push({ year: data.X[i], cluster: data.Y[i] });
        }
        $(chartId).dxChart({
            dataSource: dataSource,
            commonSeriesSettings: {
                type: "spline",
                argumentField: "year"
            },
            commonAxisSettings: {
                grid: {
                    visible: true
                }
            },
            series: [
                { valueField: "cluster", name: title },
            ],
            tooltip: {
                enabled: true
            },
            legend: {
                verticalAlignment: "bottom",
                horizontalAlignment: "center"
            },
            title: title,
            commonPaneSettings: {
                border: {
                    visible: true,
                    bottom: false
                }
            }
        });
    }    

    function get(callback, chartId, title, viewName) {
        $.ajax({
            url: "/Home/" + viewName,
            type: "POST",
            dataType: "json",
            success: function (data) {
                callback(data, chartId, title);
            }
        });
    }

</script>
<div class="content">
    <div class="pane">
        <div class="long-title">
            <h3></h3>
        </div>
        <div id="chartContainer" style="width: 100%; height: 440px;"></div>
    </div>
</div>

