@model UI.Models.Chart
<script type="text/javascript">
    var dataSource = [];
    var series = [];

    $(function () {        
        getFunction(pushOriginalFunction, 'GetOriginalFunction', '#chartOriginalFunction');
        getFunction(pushAfterFFT, 'GetAfterFFT', '#chartAfterFFT');
        
    });

    function drawCharts(title, chartId) {
        $(chartId).dxChart({            
            dataSource: dataSource,
            commonSeriesSettings: {
                type: "spline",
                argumentField: "x"
            },
            commonAxisSettings: {
                grid: {
                    visible: true
                }
            },
            series: series,
            tooltip: {
                enabled: true
            },
            legend: {
                verticalAlignment: "bottom",
                horizontalAlignment: "center"
            },
            title: title,
            commonPaneSettings: {
                border: {
                    visible: true,
                    bottom: false
                }
            }
        });
    }

    function pushOriginalFunction(data) {
        for (var i = 0; i < data.X.length; i++) {
            dataSource.push({ x: data.X[i], original: data.Y[i] });
        }
        series.push({ valueField: 'original', name: 'sin(3x) + cos(x)' });
    }    

    function pushAfterFFT(data) {
        for (var i = 0; i < data.X.length; i++) {
            dataSource.push({ x: data.X[i], afterFFT: data.Y[i] });
        }
        series.push({ valueField: 'afterFFT', name: 'sin(x) + cos(x)' });
    }

    function getFunction(callback, viewName, chartId) {
        $.ajax({
            url: "/Home/" + viewName,
            type: "POST",
            dataType: "json",
            error: function () {
                console.log('a');
            },
            success: function (data) {
                callback(data);
                drawCharts('Title', chartId);                
            }
        });
    }

</script>
<div class="content">
    <div class="pane">
        <div class="long-title">
            <h3></h3>
        </div>
        <div id="chartOriginalFunction" style="width: 100%; height: 440px;"></div>        
    </div>
    <div class="pane">
        <div class="long-title">
            <h3></h3>
        </div>
        <div id="chartAfterFFT" style="width: 100%; height: 440px;"></div>        
    </div>
</div>