<nav class="top-bar top-bar-padding">
    <section class="top-bar-section">
        <ul class="title-area">
            <li class="name">
                <h1>@Html.ActionLink("Lab1", "Lab1", "Home")</h1>
            </li>
            <li class="name">
                <h1>@Html.ActionLink("Lab2", "Lab2", "Home")</h1>
            </li>
        </ul>
    </section>
</nav>
