@model UI.Models.Counter

@{
    ViewBag.Title = "Lab1";
}

<script src="~/Scripts/chartsLab1.js"></script>
<script type="text/javascript">
    var dataSource = [];
    var series = [];

    $(function () {
        getFunction(pushOriginalFunction, 'GetOriginalFunction', '#chartOriginalFunction', 'line', 'Original Function');
        getFunction(pushFFT, 'GetFFT', '#chartFFT', 'line', 'After FFT');
        getFunction(pushFFTPhase, 'GetPhaseFFT', '#chartFFTPhase', 'line', 'Phase Spectrum FFT');
        getFunction(pushFFTAmplitude, 'GetAmplitudeFFT', '#chartFFTAmplitude', 'line', 'Amplitude Spectrum FFT');
        getFunction(pushDFT, 'GetDFT', '#chartDFT', 'line', 'After DFT');
        getFunction(pushDFTPhase, 'GetPhaseDFT', '#chartDFTPhase', 'line', 'Phase Spectrum DFT');
        getFunction(pushDFTAmplitude, 'GetAmplitudeDFT', '#chartDFTAmplitude', 'line', 'Amplitude Spectrum DFT');
    });
</script>

<nav class="top-bar top-bar-padding">
    <section class="top-bar-section">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">DFT Count: @Model.DFTCount</a></h1>
            </li>
            <li class="name">
                <h1><a href="#">FFT Count: @Model.FFTCount</a></h1>
            </li>
        </ul>
    </section>
</nav>
<div class="content">
    <div class="pane">
        <div class="long-title">
            <h3></h3>
        </div>
        <div id="chartOriginalFunction" style="width: 100%; height: 440px;"></div>
    </div>
    <div class="pane">
        <div class="long-title">
            <h3></h3>
        </div>
        <div id="chartFFT" style="width: 100%; height: 440px;"></div>
    </div>
    <div class="pane">
        <div class="long-title">
            <h3></h3>
        </div>
        <div id="chartFFTPhase" style="width: 100%; height: 440px;"></div>
    </div>
    <div class="pane">
        <div class="long-title">
            <h3></h3>
        </div>
        <div id="chartFFTAmplitude" style="width: 100%; height: 440px;"></div>
    </div>
    <div class="pane">
        <div class="long-title">
            <h3></h3>
        </div>
        <div id="chartDFT" style="width: 100%; height: 440px;"></div>
    </div>
    <div class="pane">
        <div class="long-title">
            <h3></h3>
        </div>
        <div id="chartDFTPhase" style="width: 100%; height: 440px;"></div>
    </div>
    <div class="pane">
        <div class="long-title">
            <h3></h3>
        </div>
        <div id="chartDFTAmplitude" style="width: 100%; height: 440px;"></div>
    </div>
</div>
