@model UI.Models.Counter

<script type="text/javascript">
    var dataSource = [];
    var series = [];

    $(function () {
        getFunction(pushSinFunction, 'GetSinFunction', '#chartSinFunction', 'line', 'Sin Function');
        getFunction(pushCosFunction, 'GetCosFunction', '#chartCosFunction', 'line', 'Cos Function');
        getFunction(pushConvolutionFunction, 'GetConvolutionFunction', '#chartConvolutionFunction', 'line', 'Convolution Function');
        getFunction(pushCorrelationFunction, 'GetCorrelationFunction', '#chartCorrelationFunction', 'line', 'Correlation Function');
        getFunction(pushFFTConvolutionFunction, 'GetFFTConvolutionFunction', '#chartFFTConvolutionFunction', 'line', 'FFT Convolution Function');
        getFunction(pushFFTCorrelationFunction, 'GetFFTCorrelationFunction', '#chartFFTCorrelationFunction', 'line', 'FFT Correlation Function');
    });
</script>

<nav class="top-bar top-bar-padding">
    <section class="top-bar-section">
        @*<ul class="title-area">
            <li class="name">
                <h1><a href="#">DFT Count: @Model.DFTCount</a></h1>
            </li>
            <li class="name">
                <h1><a href="#">FFT Count: @Model.FFTCount</a></h1>
            </li>
        </ul>*@
    </section>
</nav>
<div class="content">
    <div class="pane">
        <div class="long-title">
            <h3></h3>
        </div>
        <div id="chartSinFunction" style="width: 100%; height: 440px;"></div>
    </div>
    <div class="pane">
        <div class="long-title">
            <h3></h3>
        </div>
        <div id="chartCosFunction" style="width: 100%; height: 440px;"></div>
    </div>
    <div class="pane">
        <div class="long-title">
            <h3></h3>
        </div>
        <div id="chartConvolutionFunction" style="width: 100%; height: 440px;"></div>
    </div>
    <div class="pane">
        <div class="long-title">
            <h3></h3>
        </div>
        <div id="chartCorrelationFunction" style="width: 100%; height: 440px;"></div>
    </div>
    <div class="pane">
        <div class="long-title">
            <h3></h3>
        </div>
        <div id="chartFFTConvolutionFunction" style="width: 100%; height: 440px;"></div>
    </div>
    <div class="pane">
        <div class="long-title">
            <h3></h3>
        </div>
        <div id="chartFFTCorrelationFunction" style="width: 100%; height: 440px;"></div>
    </div>
</div>
